<a class="back-to-overview" [routerLink]="''">← Back to overview</a>

<ng-container *ngIf="movie$ | async as movie">
  <div
    class="backdrop"
    [style.background-image]="
      'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'
    "
  ></div>

  <h1>{{ movie.title }}</h1>

  <div class="movie-details">
    <div class="movie-details__poster">
      <img
        alt="movie"
        width="320px"
        height="480px"
        [src]="
          movie.poster_path
            ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path
            : '/assets/noimage.jpg'
        "
      />
    </div>

    <div class="movie-details__info">
      <p><strong>Overview:</strong> {{ movie.overview }}</p>
      <p><strong>Genres:</strong> {{ movie.genresList }}</p>
      <p><strong>Original Title:</strong> {{ movie.original_title }}</p>
      <p><strong>Popularity:</strong> {{ movie.popularity }}</p>
      <p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>
      <p><strong>Vote Average:</strong> {{ movie.vote_average }}</p>
      <p><strong>Vote Count:</strong> {{ movie.vote_count }}</p>
      <p><strong>IMDb ID:</strong> {{ movie.imdb_id }}</p>
      <p><strong>Original Language:</strong> {{ movie.original_language }}</p>
      <p><strong>Status:</strong> {{ movie.status }}</p>
      <p *ngIf="movie.homepage">
        <strong>Homepage: </strong>
        <a [href]="movie.homepage" target="_blank">{{ movie.homepage }}</a>
      </p>
    </div>
  </div>
</ng-container>
